<html>
<head>
   <meta charset="utf-8">
      <title>HCI Project Portfolio</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/default.css" rel="stylesheet">
</head>
<style>
body {background-color: lightgreen;}
h1   {color: blue;}
</style>
      <body bgcolor="#EEEEEE">
      <!-- this is a comment in HTML -->
      <div class="col-md-6 center-block text-center">
         <!-- Banner Image -->
         <div>
         <img src="/images/diseaseio.png" alt="Disease.io" width="50%" height="10%">
         </div>
            <!-- p means paragraph -->
            <p>Why Disease.io?</p>
            <p>
	Our application was inspired by a simulated disease outbreak in the MMORPG World of Warcraft, also known as the Corrupted Blood Incident. Players of WOW experienced a glitch that strongly mirrored the outbreak of a dangerous contagious disease, and acted in ways that mirrored natural human responses to such situations. Because the outbreak occurred in a controlled environment, scientists were interested in using data from the game to draw conclusions about human behavior, but because of the accidental nature of the outbreak, were unable to draw too many specific conclusions. With respect to the game, we’ve endeavored to add features to the game which simulate the actions and patterns of disease, and give humans a chance to make decisions as they would in a normal outbreak. In selecting and displaying data, we’ve made sure to collect data which is directly relevant to scientists and displaying it in a scientist friendly way. 
            </p>
            <div id="buttonContainer">
               <button class="btn-block btn-primary" id="loginButton">Home</button>
            </div>
      </div>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/initializeIndex.js"></script>
       </body>
</html>
