<html>
<head>
   <meta charset="utf-8">
      <title>HCI Project Portfolio</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/default.css" rel="stylesheet">
</head>
<style>
body {background-color: lightgreen;}
h1   {color: blue;}
</style>
      <body bgcolor="#EEEEEE">
      <!-- this is a comment in HTML -->
      <div class="col-md-6 center-block text-center">
         <!-- Banner Image -->
         <div>
         <img src="/images/diseaseio.png" alt="Disease.io" width="50%" height="10%">
         </div>
            <!-- p means paragraph -->
            <p>There are two main modes in Disease.io - Citizen Mode and Science Mode</p>
            <p>Science Mode: In science mode the user looks at data collected by users
               playing Disease.io. In order to get to science mode, click on the "Scientist" role
               option displayed on the front page. Download options are listed underneath the graphs, and the 
               various different data graphs we have collected are listed on the left side of the page.
            </p>
            <p>Citizen Mode: In Citizen Mode the user plays the Disease.io game (and in the process collects
               data for science!). To get to citizen mode, click "Citizen" under role selection on the main page.
               Once you have clicked this, you will be taken to the main "map". On this map you will see two "Nodes",
               one is green, and the other is red. The green node represents a safe space to collect resources, while
               the red node represents a "Risky" area. After clicking on a node and selecting your choice (or leaving
               on the default choice of "Safe") click on the "gather resources" button in order to begin playing the game.
               In the game, there are several elements to be aware of, while in the future these elements may be modified, for
               now we have a "Player", Joystick", "Team Button", and "Resources".
               The Joystick is the bottom-left element represented by a 
               white square on top of a grey square. By moving the white square away from the grey square you 
               "move" the joystick.
               The Player is represented by the red sphere, the dotted line surrounding it is the "team" area
               in which if it is green you will gain points by having neighbors.
               Team Button: The lower right grey button, if you click it you toggle "team mode" (Green is team
               mode, red is not team mode). In the future, while in team mode you will gain points when another player
               gathers resources in your "zone".
               Resources: The small white dots throughout the map, moving the red player over them causes them to
               pick them up and gain points.
               You can also click on the map to move the player to the clicked location.
            </p> 
            <div id="buttonContainer">
               <button class="btn-block btn-primary" id="loginButton">Home</button>
            </div>
      </div>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/initializeIndex.js"></script>
       </body>
</html>
